{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <link href="{% static 'bower/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/site.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <script src="{% static 'bower/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'bower/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower/handlebars/js/handlebars.runtime.min.js' %}"></script>
    <script src="{% static 'bower/ember/js/ember.min.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/routers.js' %}"></script>
    <script src="{% static 'js/templates/compiled.js' %}"></script>
  </body>
</html>
